#container {
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 625px;
    border-style: solid;
    border-color: black;
}

.row {
    display: flex;
}

.cell {
    /* width: 25px; */
    /* height: 25px; */
    box-sizing: border-box;

}

